*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #000116;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 350px;    
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #fff;
    gap: 20px;
    text-align: center;
}

button{
    background: rgb(0, 209, 14);
    padding: 15px;
    cursor: pointer;
    color: #000116;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 10px;
    transition: all .3s;
}

button:hover{
    background: rgb(153, 255, 0);
}

.container-icos{
    border: 1px solid rgba(255, 255, 255, 0.534);
    padding: 15px;
    width: 250px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    transition: all .3s;
    border-radius: 10px;
}

.container-icos:hover{
    transform: scale(1.05);
}

.ico{
    position: absolute;
    right: 10px;
    top: 15px;
}

.ico-copiar{
    display: block;   
    /* display: none; */
}

.ico-copiar-ok{
    display: none;
    /* display: block;    */
    color: rgb(0, 209, 14);
}